#modal{
    z-index: 0;
    width: max-content;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
}

.image{
  height: 100%;
  width: auto;
  float: left;
}

.buttons{
    width: 200px;
    float: right;
}

.closeButton{
    position: fixed;
    top: 20%;
    right: inherit;
    outline: none !important;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 22px;
    background-color: transparent;
}

.download-button{
    width: 160px;
    height: 40px;
    background-color:#05a081 !important;
    border: none !important;
}

#drop-button{
    background:#05a081 !important;
    border: none !important;
}

.label{
    color: rgb(150, 150, 150);
    margin: 10px;
}

.download-button:hover, #drop-button:hover{
    background-color:#13e0b7 !important;
}
  
  .link{
    text-decoration: none;
    color: white;
  }
  
  .link:hover{
    text-decoration: none;
    color: white;
  }
  
  .dropdown-item{
    width: 150px !important;  
    height: 30px;
    margin: 10px !important;
  }

  .dropdown-download-button{
    margin: 5px;
    width: 160px;
    height: 30px;
    background-color:#05a081 !important;
    border: none !important;
  }